@critical secondary.crit.css {
  .riddle {
    text-decoration: none;
    padding-bottom: 120px; }
  .test {
    padding-top: 20px; } }

.main {
  critical-selector: this;
  background-color: #369;
  width: 12280px; }

.home {
  critical-selector: '.home-bar';
  position: relative;
  float: left;
  height: 50vh; }
  @media screen and (max-width: 767px) {
    .home {
      height: auto;
      float: right; } }
  .main .home {
    position: absolute; }
  .home::after {
    content: "";
    height: 10vw;
    width: 10vw; }

@critical secondary.crit.css {
  .riddle {
    text-decoration: none;
    padding-bottom: 120px; }
  .test {
    padding-top: 20px; } }
